# ignore local binaries
nor/bin/*
nor/vmlinux*
nor/vmlinuz*
nor/*.bin
*.ko

# ignore docker build directories
docker/*/src

# ignore shared libraries
*.so
*.o

# devenv
.devenv/
.devenv.flake.nix

# nix build directory
/build/
